<h1>ユーザー一覧</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>メール</th>
      <th>区分</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.type %></td>
      <td><%= link_to '変更' %></td>
    </tr>
  <% end %>
  </tbody>
</table>