<% provide(:title, 'ユーザー登録') %>
<h1>ユーザー登録</h1>

<%= form_for(@user, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } ) do |f| %>
  <%= render 'fields', f: f %>
  <div class="col-md-6 col-md-offset-3">
    <%= f.submit 'ユーザーを登録', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
