<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } ) do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
<% end %>
