<h1>イベント一覧</h1>

<div class="row">
  <div class="col-md-12">
    <div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-justified">
        <li class="active">
          <a href="#scheduleTab" data-toggle="tab">
            イベント</a></li>
        <li class="">
          <a href="#pastTab" data-toggle="tab">
            過去のイベント</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="scheduleTab">
          <%= render partial: 'shared/event', locals: { events: @events } %>
        </div>
        <div class="tab-pane" id="pastTab">
          <%= render partial: 'shared/event', locals: { events: @past_events } %>
        </div>
      </div>
    </div>
  </div>
</div>